In [1]:
# Import pandas package
import pandas as pd

---

##### Dictionary of Lists

In [3]:
#Create a DataFrame using Dictionary of lists
food_dict_of_lists = {"Fruits":pd.Series(data=['apple','mango','lemon','orange']), 
        "Vegetables":pd.Series(data=['cucumber','carrot','cabbage','spinach']),
        "Spices":pd.Series(data=['thyme','ginger','garlic','cinnamon'])}

In [4]:
food = pd.DataFrame(food_dict_of_lists)
food

   Fruits Vegetables    Spices
0   apple   cucumber     thyme
1   mango     carrot    ginger
2   lemon    cabbage    garlic
3  orange    spinach  cinnamon

---

##### List of Dictionaries

In [5]:
#Create a DataFrame using List of dictionaries
food_list_of_dicts = [{'Fruits':'apple', 'Vegetables':'cucumber', 'Spices':'thyme'},
                      {'Fruits':'mango', 'Vegetables':'carrot', 'Spices':'ginger'},
                      {'Fruits':'lemon', 'Vegetables':'cabbage', 'Spices':'garlic'},
                      {'Fruits':'orange', 'Vegetables':'spinach', 'Spices':'cinnamon'}]

In [6]:
food2 = pd.DataFrame(food_list_of_dicts)
food2

   Fruits Vegetables    Spices
0   apple   cucumber     thyme
1   mango     carrot    ginger
2   lemon    cabbage    garlic
3  orange    spinach  cinnamon

---

In [7]:
#Add new rows to a DataFrame
#New row 1 using .loc()
print('--- Add new row')
food2.loc[4] = ['pineapple', 'lettuce', 'nutmeg']
food2

--- Add new row

      Fruits Vegetables    Spices
0      apple   cucumber     thyme
1      mango     carrot    ginger
2      lemon    cabbage    garlic
3     orange    spinach  cinnamon
4  pineapple    lettuce    nutmeg

In [8]:
#New row 2 using .concat()
print('--- Add another new row')
food_row = pd.DataFrame({"Fruits": ['banana'],"Vegetables": ['tomatoes'], "Spices": ['cumin']},
                        index=[5])

food2 = pd.concat([food2, food_row])
food2

--- Add another new row

      Fruits Vegetables    Spices
0      apple   cucumber     thyme
1      mango     carrot    ginger
2      lemon    cabbage    garlic
3     orange    spinach  cinnamon
4  pineapple    lettuce    nutmeg
5     banana   tomatoes     cumin

In [9]:
#Rename a column, and multiple columns
#Rename a column using rename()
print('--- Rename one column')
food2.rename(columns = {'Vegetables':'Veggies'}, inplace = True)
food2

--- Rename one column

      Fruits   Veggies    Spices
0      apple  cucumber     thyme
1      mango    carrot    ginger
2      lemon   cabbage    garlic
3     orange   spinach  cinnamon
4  pineapple   lettuce    nutmeg
5     banana  tomatoes     cumin

In [10]:
#Rename multiple columns using .set_axis()
print('--- Rename multiple columns')
food2.set_axis(['Produce', 'Veggies', 'Herb&Spice'], axis='columns', inplace=True)
food2

--- Rename multiple columns

C:\Users\Amara\AppData\Local\Temp\ipykernel_17152\901613960.py:3: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  food2.set_axis(['Produce', 'Veggies', 'Herb&Spice'], axis='columns', inplace=True)

     Produce   Veggies Herb&Spice
0      apple  cucumber      thyme
1      mango    carrot     ginger
2      lemon   cabbage     garlic
3     orange   spinach   cinnamon
4  pineapple   lettuce     nutmeg
5     banana  tomatoes      cumin

In [11]:
#Rename row index, and multiple row indexes
#Rename row index using .rename()
print('--- Rename row index')
food2 = food2.rename(index={1: 'i'})
food2

--- Rename row index

     Produce   Veggies Herb&Spice
0      apple  cucumber      thyme
i      mango    carrot     ginger
2      lemon   cabbage     garlic
3     orange   spinach   cinnamon
4  pineapple   lettuce     nutmeg
5     banana  tomatoes      cumin

In [12]:
#Rename multiple row indexes using .rename()
print('--- Rename multiple row indexes')
food2 = food2.rename(index={1: 'i', 2: 'ii', 3: 'iii', 4:'iv', 5:'v'})
food2

--- Rename multiple row indexes

       Produce   Veggies Herb&Spice
0        apple  cucumber      thyme
i        mango    carrot     ginger
ii       lemon   cabbage     garlic
iii     orange   spinach   cinnamon
iv   pineapple   lettuce     nutmeg
v       banana  tomatoes      cumin

In [13]:
#Delete rows
#Deleting rows using .drop()
print('--- Delete rows')
food3 = food2.drop(['iv','v'])
food3

--- Delete rows

    Produce   Veggies Herb&Spice
0     apple  cucumber      thyme
i     mango    carrot     ginger
ii    lemon   cabbage     garlic
iii  orange   spinach   cinnamon

In [14]:
#Delete columns
#Deleting columns using .drop()
print('--- Delete columns')
food4 = food3.drop(columns='Herb&Spice')
food4

--- Delete columns

    Produce   Veggies
0     apple  cucumber
i     mango    carrot
ii    lemon   cabbage
iii  orange   spinach

In [15]:
#Switch column index (change the index position of columns)
#Using .pop() and .insert()
print('--- Pop column indexes')
food4 = food3.pop('Veggies')
food4

--- Pop column indexes

0      cucumber
i        carrot
ii      cabbage
iii     spinach
Name: Veggies, dtype: object

In [16]:
print('--- Insert in new index position')
food3.insert(0, 'Veggies',food4)
food3

--- Insert in new index position

      Veggies Produce Herb&Spice
0    cucumber   apple      thyme
i      carrot   mango     ginger
ii    cabbage   lemon     garlic
iii   spinach  orange   cinnamon

---

In [20]:
print('Dataframe1')
print(food)
print()
print('Dataframe2')
print(food2)
print()
print('Dataframe3')
print(food3)
print()
print('Dataframe4')
print(food4)

Dataframe1
   Fruits Vegetables    Spices
0   apple   cucumber     thyme
1   mango     carrot    ginger
2   lemon    cabbage    garlic
3  orange    spinach  cinnamon

Dataframe2
       Produce   Veggies Herb&Spice
0        apple  cucumber      thyme
i        mango    carrot     ginger
ii       lemon   cabbage     garlic
iii     orange   spinach   cinnamon
iv   pineapple   lettuce     nutmeg
v       banana  tomatoes      cumin

Dataframe3
      Veggies Produce Herb&Spice
0    cucumber   apple      thyme
i      carrot   mango     ginger
ii    cabbage   lemon     garlic
iii   spinach  orange   cinnamon

Dataframe4
0      cucumber
i        carrot
ii      cabbage
iii     spinach
Name: Veggies, dtype: object